@import '../../assets/scss/base.scss';

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  line-height: 30px;
  color: #333;
  font-size: 18px;
  p {
    margin: 0;
  }
  .sub-title {
    color: #666;
    font-size: 14px;
  }
}