@import '../../assets/scss/base.scss';

.navigator {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #21212a;
  transition: all ease 0.4s;
  .nav-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  header {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    @include border-bottom('&', $linear-purple);
    transition: all ease .4s;
    .logo {
      flex: 1;
      display: flex;
      transition: all ease .4s;
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background: $linear-purple;
      }
      p {
        flex: 1;
        padding-left: 10px;
        font-size: 18px;
        color: #fff;
        font-size: 18px;
        transition: all ease .4s;
      }
    }
    .search {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      flex: 1;
      transition: all ease .4s;
      input {
        flex: 1;
        border: none;
        max-width: 280px;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        color: #fff;
        border-radius: 30px;
        overflow: hidden;
        background-color: rgba(255,255,255,.2);
        transition: all ease .4s;
        &:focus {
          background-color: rgba(255,255,255,.1);
        }
      }
      .clear {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url(../../assets/images/icon_clear.png) no-repeat;
        background-size: cover;
        opacity: 0.3;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .tool-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .tool {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;
      margin-left: 5%;
      margin-top: 20px;
      padding: 20px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      cursor: pointer;
      &:nth-child(3n + 1) {
        margin-left: 0;
      }
      .icon {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: $linear-purple;
        opacity: 0.8;
        overflow: hidden;
        @include position-center('img');
        img {
          width: 80%;
          height: 80%;
        }
      }
      .info {
        flex: 1;
        margin-left: 10px;
        min-width: 0;
        @include text-ellipsis('.desc');
        p {
          text-align: left;
          line-height: 1.15;
          font-size: 12px;
          color: $light-purple;
          &.title {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
      &.active, &:hover {
        .icon {
          opacity: 1;
        }
        .title {
          color: #fff
        }
        .desc {
          color: rgba(255,255,255,.8);
        }
      }
    }
  }
  &.sidebar {
    flex: none;
    width: 270px;
    header {
      display: flex;
      flex-direction: column;
      height: auto;
      &:after {
        display: none;
      }
      @include border-top('.search', $linear-purple);
      .logo {
        width: 100%;
        margin: 20px 0;
      }
      .search {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        &:after {
          top: -20px;
        }
        input {
          border-radius: 4px;
        }
      }
    }
    .tool-list {
      display: flex;
      margin-top: 0;
      .tool {
        flex-direction: column;
        background: none;
        padding: 0;
        .info {
          margin: 10px 0 0 0;
          .title {
            text-align: center;
            font-size: 12px;
            font-weight: normal;
          }
          .desc {
            display: none;
          }
        }
      }
    }
  }
}