@import './assets/scss/base.scss';

.app {
  display: flex;
  width: 1200px;
  height: 80vh;
  margin: 10vh auto;
  background-color: #f4f7fa;
  border-radius: 8px;
  box-shadow: $box-shadow;
  overflow: hidden;
  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .card {
      border: none;
      box-shadow: $box-shadow-card;
    }
    .module {
      padding: 20px;
    }
  }
}
