@import './assets/scss/base.scss';

.app {
  display: flex;
  width: 1200px;
  height: 80vh;
  margin: 10vh auto;
  background-color: #f4f7fa;
  border-radius: 8px;
  box-shadow: $box-shadow;
  overflow: hidden;
  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .module {
      padding: 20px;
    }
  }
  // reset bootstrap class
  .card {
    margin-bottom: 20px;
    border: none;
    box-shadow: $box-shadow-card;
  }
  .card-body {
    .card-title {
      position: relative;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      // &:before {
      //   content: '';
      //   position: absolute;
      //   left: -1.25rem;
      //   width: 2px;
      //   height: 100%;
      //   background: $linear-purple;
      // }
    }
  }
  .form-control {
    // border-color: $light-black;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }
  .btn-outline-primary,.btn-outline-primary.focus, .btn-outline-primary:focus {
    border-color: $light-purple;
    color: $light-purple;
    box-shadow: none;
    &:hover {
      border-color: transparent;
      background: $linear-purple;
    }
  }
  .btn-primary,.btn-primary.focus, .btn-primary:focus {
    background: $linear-purple;
    border-color: transparent;
    box-shadow: none;
    &:hover {
      border-color: $light-purple;
    }
  }
}
